.block-breadcrumb {
    background-color: #fff;
    position: sticky;
    left: 0px;
    bottom: 0px;
    display: flex;
    gap: 4px;
    border-top: 1px solid var(--paver-border-color);
    width: 100%;
    display: flex;
    align-items: center;
    padding: 8px 12px;
    font-size: .8rem;
    font-weight: 500;

    li {
        display: flex;
        align-items: center;
        gap: 4px;

        svg {
            width: 18px;
            color: var(--paver-border-color);
        }

        &:hover {
            cursor: pointer;
        }

        &:last-of-type {
            svg {
                display: none;
            }
        }
    }
}
