.bg-light {
    background-color: var(--paver-color-light);
}

.bg-white {
    background-color: #fff;
}

.cursor-grab {
   cursor: grab;
}

.hidden {
    display: none;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.sticky {
    position: sticky;
    top: 0;
}
