:root {
    --paver-color-primary: #0891b2;
    --paver-color-primary-light: #06b6d4;
    --paver-color-secondary: #155e75;
    --paver-color-light: #f1f5f9;
    --paver-color-dark: #3C434A;
    --paver-border-radius: 4px;
    --paver-border-color: #e5e7eb;
  }
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes indictor {
  0%,
  100% {
    opacity: 30%;
  }
  50% {
    opacity: 100%;
  }
}
@keyframes expandWidth {
  from {
    width: 50%;
  }
  to {
    width: 90%;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.paver__bg-light {
    background-color: var(--paver-color-light);
}
.paver__bg-white {
    background-color: #fff;
}
.paver__cursor-grab {
   cursor: grab;
}
.paver__hidden {
    display: none;
}
.paver__flex {
    display: flex;
}
.paver__items-center {
    align-items: center;
}
.paver__sticky {
    position: sticky;
    top: 0;
}
.paver__sortable-item.paver__hover-block > .paver__block-toolbar {
  display: flex;
}
.paver__block-toolbar {
  border: 1px solid #000;
  border-radius: 3px;
  display: none;
  z-index: 100;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  animation: fadeIn 0.2s ease-in-out;

  position: absolute;
  right: 5px;
  top: 5px;
  color: #000;
}
.paver__block-toolbar button:last-of-type {
    border-right: none;
    border-radius: 0 3px 3px 0;
  }
.paver__block-toolbar button:first-of-type {
    border-radius: 3px 0 0 3px;
  }
.paver__block-toolbar button {
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7px;
    height: 30px;
    background-color: #f9f9f9;
    border-right: 1px solid #000;
  }
.paver__block-toolbar button:hover {
      color: var(--paver-color-primary);
    }
.paver__block-toolbar button svg {
      height: 14px;
      width: 14px;
    }
.paver__sortable-ghost .paver__block-toolbar {
    background: #ff0000;
  }
html,
body {
  /* min-height: 100%; */
  width: 100%;
  /* display: flex; */
}
.paver__editor-frame {
  width: 100%;
}
.paver__sortable {
  min-height: 50px;
}
/* body {
    display: flex;
    justify-content: center;
} */
.paver__editor-root {
  min-height: 300px;
}
.paver__sortable-ghost {
  text-indent: -9999px;
  font-size: 0;
  overflow: hidden;
  line-height: 0;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.paver__sortable-ghost > * {
    display: none;
  }
.paver__sortable-ghost:after {
    content: "";
    height: 3px;
    border-radius: 2px;
    background: var(--paver-color-primary);
    animation: expandWidth 0.2s forwards, indictor 1s linear infinite;
    display: block;
  }
.paver__handle:hover {
  cursor: grab;
}
.paver__sortable-item {
  position: relative;
  box-sizing: border-box;
}
.paver__sortable-item.paver__hover-block:not(.paver__active-block)::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid transparent;
    pointer-events: none;
  }
.paver__sortable-item.paver__hover-block:not(.paver__active-block):hover::after {
    border-color: rgba(3, 124, 186, 0.25);
  }
.paver__active-block::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid rgba(3, 124, 186);
    pointer-events: none;
  }
.paver__sortable-chosen {
  background: #fff;
}
/* .sortable-item.hover-block:not(.sortable-chosen) > .block-toolbar {
  display: flex;
} */

