:root {
    --paver-color-primary: #0891b2;
    --paver-color-primary-light: #06b6d4;
    --paver-color-secondary: #155e75;
    --paver-color-light: #f1f5f9;
    --paver-color-dark: #3C434A;
    --paver-border-radius: 4px;
    --paver-border-color: #e5e7eb;
  }
.paver__bg-light {
    background-color: var(--paver-color-light);
}
.paver__bg-white {
    background-color: #fff;
}
.paver__cursor-grab {
   cursor: grab;
}
.paver__hidden {
    display: none;
}
.paver__flex {
    display: flex;
}
.paver__items-center {
    align-items: center;
}
.paver__sticky {
    position: sticky;
    top: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes indictor {
  0%,
  100% {
    opacity: 30%;
  }
  50% {
    opacity: 100%;
  }
}
@keyframes expandWidth {
  from {
    width: 50%;
  }
  to {
    width: 90%;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
[x-cloak] {
    display: none;
}
.paver__expanded-editor {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
/*
    &::after {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99999;
        width: 100vw;
        height: 100vh;
        backdrop-filter: blur(14px);
    } */
}
.paver__expanded-editor .paver__container {
        background-color: #fff;
        /* height: 98vh;
        width: 98vw; */
        position: fixed;
        height: 100vh;
        width: 100vw;
        top: 0;
        left: 0;
        z-index: 100000;
        border-radius: 0;
    }
.paver__expanded-editor .paver__container iframe {
            height: 100%;
        }
.paver__expanded-editor .paver__editor, .paver__expanded-editor .paver__iframe-wrapper {
        max-height: 100%;
    }
.paver__mobile {
    width: 360px !important;

}
.paver__btn-text {
    height: 26px;
    padding: 0 6px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid var(--paver-border-color);
    border-radius: 3px;
}
.paver__btn-text.paver__btn-text-primary {
        border: 1px solid #f1f1f1;
        background-color: var(--paver-color-primary);
        color: #fff;
    }
.paver__btn-text :hover {
        cursor: pointer;
    }
.paver__btn-icon {
    height: 26px;
    width: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid var(--paver-border-color);
    border-radius: 3px;
}
.paver__btn-icon :hover {
        cursor: pointer;
        color: var(--paver-color-primary);
    }
.paver__btn-icon svg {
        width: 16px;
        height: 16px;
    }
.paver__container {
    display: flex;
    width: 100%;
    overflow: clip;
}
.paver__container > div:not(.paver__sidebar) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        width: 100%;
    }
.paver__container .paver__sidebar {
        position: relative;
        min-width: 300px;
        flex-shrink: 0;
    }
.paver__editor, .paver__iframe-wrapper {
    width: 100%;
    min-height: 500px;
}
.paver__sidebar {
    width: 300px;
    border-left: 1px solid var(--paver-border-color);
}
.paver__sidebar .paver__block-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
/* padding: 10px; */
.paver__sidebar .paver__block-grid .paver__block-handle {
            cursor: grab;
            padding: 10px;
            /* border: 1px solid #C3C4C7; */
            border-radius: 5px;
            background-color: #F9F9F9;
            display: flex;
            font-size: 12px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            color: var(--paver-color-dark);
        }
.paver__sidebar .paver__block-grid .paver__block-handle:hover {
                background-color: #F6FAFC;
                color: var(--paver-color-primary);
            }
.paver__sidebar .paver__block-grid .paver__block-handle svg {
                height: 20px;
            }
.paver__sidebar .paver__block-grid .paver__block-handle .paver__icon {
                font-size: 20px;
                opacity: 85%;
            }
.paver__section {
    border-bottom: 1px solid var(--paver-border-color);
    width: 100%;
    position: relative;
}
.paver__section .paver__editor-actions {
        padding: 0 12px;
        display: flex;
        gap: 4px;
        align-items: center;
    }
.paver__section.paver__section-main {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
.paver__section.paver__section-main .paver__section-header {
            border-bottom: 0;
        }
.paver__section .paver__section-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 4px;
        padding: 8px 12px;

        font-weight: bold;
        font-size: 14px;
        border-bottom: 1px solid var(--paver-border-color);
    }
.paver__section .paver__section-content {
        padding: 12px;
    }
.paver__section .paver__border {
        border: 1px solid var(--paver-border-color);
    }
.paver__section .paver__search-blocks {
        width: 100%;
        margin-bottom: 10px;
    }
.paver__section .paver__option {
        margin-bottom: 4px;
        display: block;
    }
.paver__section .paver__option label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }
.paver__section .paver__option input[type="text"],
        .paver__section .paver__option input[type="number"],
        .paver__section .paver__option textarea,
        .paver__section .paver__option select {
            border: 1px solid var(--paver-border-color);
            border-radius: var(--paver-border-radius);
            width: 100%;
            /* padding: 5px; */
            margin-bottom: 10px;
        }
.paver__sortable-item {
    cursor: grab;
}
.paver__resizer {
    width: 2px;
    /* background-color: var(--paver-color-secondary); */
    cursor: ew-resize;
    position: absolute;
    top: 0;
    left: -1px;
    bottom: 0;
}
.paver__iframe-wrapper {
    position: relative;
    min-width: 300px;
    display: flex;
    justify-content: center;
}
.paver__iframe-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5);
    z-index: 999;
}
.paver__expand-btn {
    border: none;
    background: none;
    width: 100%;
    margin-top: 10px;
}
.paver__expand-btn:hover {
        cursor: pointer;
    }
.paver__expand-btn span {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
    }
.paver__expand-btn span svg {
            height: 16px;
            width: 16px;
        }
@media (max-width: 768px) {
    .paver__hide-on-mobile {
        display: none;
    }
    .paver__container {
        overflow: auto;
    }
}
.paver__loading-spinner {
    margin-right: 6px;
    height: 16px;
    width: 16px;
    animation: spin 1s linear infinite;
    color: var(--paver-color-primary);
}
.paver__loading-spinner circle {
        opacity: 25%;
    }
.paver__loading-spinner path {
        opacity: 75%;
    }

